@model LoginViewModel

@{
    ViewData["Title"] = "Войти";
}

<form asp-controller="Auth" asp-action="Login" method="post">
    <table class="text-center">
        <tr>
            <td>
                <label>
                    Имя пользователя
                </label>
            </td>
            <td>
                <input asp-for="Username" />
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    Пароль
                </label>
            </td>
            <td>
                <input asp-for="Password" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Войти" />
            </td>
        </tr>
    </table>
</form>