Возможно навбар
@*<div id="container">
    <div class="top-wrap">
        <ul class="links"><li><a href="http://avtonasosy.com.ua/">Главная</a></li><li><a href="about_us">О нас</a></li><li><a href="oplata-i-dostavka/">Оплата и доставка</a></li><li><a href="http://avtonasosy.com.ua/index.php?route=checkout/checkout">Оформление заказа</a></li></ul>
        <div id="cart">
            <div class="heading">
                <h4>Корзина</h4>
                <a><span id="cart-total">Товаров: 0 (0 грн.)</span></a>
            </div>
            <div class="content">
                <div class="empty">Ничего не куплено!</div>
            </div>
        </div> <div class="btn-search"></div>
        <div id="search">
            <div class="button-search"></div>
            <input type="text" name="filter_name" value="Поиск" onclick="this.value = '';" onkeydown="this.style.color = '#000000';" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
        </div>
    </div>
    <div id="header">
        <div id="logo"><a href="http://avtonasosy.com.ua/"><img src="http://avtonasosy.com.ua/image/data/avtonasosy.png" title="avtonasosy" alt="avtonasosy"></a></div>
        <div class="header_text">
            <div class="header_phone"><b>Адрес: г. Харьков Ул. Леся Сердюка 13</b></div>
            <div class="header_adr"><b>Телефон: (067)-759-79-15</b></div>
        </div>


    </div>*@


    <div id="content">
        <h1>О нас</h1>
        <article class="uk-article tm-article">
            <p>
                <span style="font-size:22px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Добро пожаловать в интернет магазин автозапчастей для автомобилей отечественных и зарубежных производителей.</span>
            </p>
            <p style="text-align: left;">
                <span style="font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Раньше, что бы приобрести запчасти для иномарок нужно было обращаться к специализированным магазинам, но сейчас новое время, интернет - вот главный вспомогательный инструмент для автолюбителей. И это неудивительно, так как данный метод позволяет сэкономить время и обеспечить покупку качественного продукта не выходя из дома.</span>
            </p>
            <p style="text-align: left;">
                <span style="font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Мы занимаемся продажей различных запчастей для иномарок любого типа и производства. 
                На нашем сайте Вы найдете множество деталей и сможете воспользоваться упрощенной системой поиска, которая облегчает нахождение необходимой детали или комплекта деталей, при чем процедура поиска не займет у Вас много времени. 
                Высококвалифицированные консультанты помогут Вам выбрать необходимый товар. С помощью нашего сайта Вы получите максимально доступную информацию о цене и сроке поставки необходимой продукции. Наши консультанты ответят на любые вопросы по проблемам с подбором той или иной детали и предложат всевозможные варианты их решения. Avtonasosy.com.ua - это широкий ассортимент различных запчастей для автомобилей по приемлемой цене и с лучшим качеством. Мы работаем по всей Украине, получить товар Вы сможете в любом городе: Харьков, Киев, Днепропетровск, Одесса, Полтава, Львов и другие. Для того что бы купить запасти на сайте Вам необходимо выбрать наименование товара и марку Вашего автомобиля. Так же вы можете воспользоваться поиском детали по её коду или названию. После того, как Вы оформили заказ, вы можете забрать Ваш товар из нашего офиса в Харькове или с любого пункта выдачи Новой почты.</span>
            </p>
            <p style="text-align: left;">
                <span style="font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Мы долгое время работали на рынке Украины и решили создать сайт наших товаров, для Вашего удобства. Любые Ваши пожелания и предложения будут реализовываться по мере их поступления. Залог успешной работы – хороший отзыв Вас, наших клиентов.</span>
            </p>
            <p style="text-align: left;">
                <span style="font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Наш офис находится по адресу г.Харьков, ул. Командарма Корка 13 (Леся Сердюка):</span>
            </p>
            <p>
                <span style="font-size:16px;">Контакты: Киевстар 067-759-79-15 ;&nbsp; E-Mail: rr@mostinvest.com.ua</span>
            </p>
            <p>
                <iframe allowfullscreen="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.7830629321707!2d36.34152031571627!3d50.03416067942008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a778c3705353%3A0x431843ca82dda5ac!2z0LLRg9C7LiDQm9C10YHRjyDQodC10YDQtNGO0LrQsCwgMTMsINCl0LDRgNC60ZbQsiwg0KXQsNGA0LrRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1455630186485" style="border:0" width="800" height="600" frameborder="0"></iframe>
            </p>
        </article>
        </div><div id="cboxNext" style="float: left;"></div><div id="cboxPrevious" style="float: left;"></div><div id="cboxSlideshow" style="float: left;"></div><div id="cboxClose" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div></div><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 10000; top: 0px; left: 0px; display: none;"></ul>