@model AboutViewModel

@{
    ViewData["Title"] = "О нас";
}

<h1>О нас</h1>

<div class="border">
    @if(Model?.About != null)
    {
    <p>@Html.Raw(Model?.About)</p>
    }
    else
    {
        <label>Тут пока ничего, зайдите позже</label>
    }
</div>
