
@{ 
    ViewData["Title"] = "Контакты";
}

<div id="content">
    <h1>Оплата и доставка</h1>
    <p>
        <span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Мы осуществим доставку в течении одного дня после оформления заказа. Любые тонкости Вы можете обговорить с нашими консультантами. Для оформления заказа Вам нужно выбрать необходимый товар, поместив предварительно его в корзину, воспользоваться услугой «Оформить заказ» в верхнем правом углу сайта. Далее Вы заполняете минимальную форму заказа и отправляете его нам. Наши консультанты, обработав заказ, свяжутся с Вами либо по введенному номеру телефона, либо по электронной почте, уточнив правильность переданных данных, Ваш товар будет отправлен в кротчайшие сроки. Предпочтительно мы осуществляем доставку по Украине с помощью сервиса «Новая почта», но любые Ваши предложения обязательно будут рассмотрены. Доставка осуществляется в такие города, как: </span>
    </p>
    <ol>
        <li>
            <span style="font-size:16px;">Винница, Виннецкая область.</span>
        </li>
        <li>
            <span style="font-size:16px;">Днепропетровск, Днепропетровская область.</span>
        </li>
        <li>
            <span style="font-size:16px;">Донецк, Донецкая боласть</span>
        </li>
        <li>
            <span style="font-size:16px;">Житомир, Житомирская область</span>
        </li>
        <li>
            <span style="font-size:16px;">Запорожье, Запорожская область</span>
        </li>
        <li>
            <span style="font-size:16px;">Ивано-Франковск, Ивано-Франковская область.</span>
        </li>
        <li>
            <span style="font-size:16px;">Киев, Киевская область.</span>
        </li>
        <li>
            <span style="font-size:16px;">Кировоград, Кировоградская область.</span>
        </li>
        <li>
            <span style="font-size:16px;">Луганск, Луганская область.</span>
        </li>
        <li>
            <span style="font-size:16px;">Луцк, Луцкая область.</span>
        </li>
        <li>
            <span style="font-size:16px;">Львов, Львовская область.</span>
        </li>
        <li>
            <span style="font-size:16px;">Николаев, Николаевская область.</span>
        </li>
        <li>
            <span style="font-size:16px;">Одесса, Одесская область.</span>
        </li>
        <li>
            <span style="font-size:16px;">Полтава, Полтавская область.</span>
        </li>
        <li>
            <span style="font-size:16px;">Ровно, Ровенская <span style="font-size:16px;">область.</span></span>
        </li>
        <li>
            <span style="font-size:16px;">Суммы, Суммская <span style="font-size:16px;">область.</span></span>
        </li>
        <li>
            <span style="font-size:16px;">Тернополь, Тернопольская <span style="font-size:16px;">область.</span></span>
        </li>
        <li>
            <span style="font-size:16px;">Ужгород, Ужгородская <span style="font-size:16px;">область.</span></span>
        </li>
        <li>
            <span style="font-size:16px;">Харьков, Харьковская <span style="font-size:16px;">область.</span></span>
        </li>
        <li>
            <span style="font-size:16px;">Херсон, Херсонская <span style="font-size:16px;">область.</span></span>
        </li>
        <li>
            <span style="font-size:16px;">Хмельницкий, Хмельницкая область</span>
        </li>
        <li>
            <span style="font-size:16px;">Черкассы, Черкасская <span style="font-size:16px;">область.</span></span>
        </li>
        <li>
            <span style="font-size:16px;">Чернигов , Черниговская <span style="font-size:16px;">область.</span></span>
        </li>
        <li>
            <span style="font-size:16px;">Черновцы, Черновицкая <span style="font-size:16px;">область.</span></span>
        </li>
    </ol>
    <div class="buttons">
        <div class="right"><a asp-controller="Home" asp-action="Index"   type="button">Продолжить</a></div>
    </div>
</div>