@model AboutViewModel

@{
    ViewData["Title"] = "Контакты";
}

<h1>Оплата и доставка</h1>
<div class="border">
    @if (Model?.Contacts != null)
    {
        <p>@Html.Raw(Model?.Contacts)</p>
    }
    else
    {
        <label>Тут пока ничего, зайдите позже</label>
    }

</div>
