@model IEnumerable<Category>

@{
    ViewData["Title"] = "Категории";

}

<div class="container-fluid">
    <div class="row">
        @foreach (Category ct in Model)
        {
            <div class="col-3">

                @if (!String.IsNullOrEmpty(ct.Photo))
                {
                    var image_path = $"/Image/{ct.Photo}";
                    <img src="@image_path" width="200" height="200" />
                }
                <a asp-action="PageWithCateg" asp-controller="Home" asp-route-category="@ct.Id_Category">@ct.CategoryName</a>
            </div>
        }
    </div>
</div>

