@model IEnumerable<Category>



<ul>
    @foreach (Category ct in Model)
    {
        <li>
            <a asp-action="PageWithCateg" asp-controller="Home" asp-route-category="@ct.CategoryName">@ct.CategoryName</a>
        </li>
    }

</ul>